<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzwgj.management.mapper.ClassificationPropRealtionMapper" >
  <resultMap id="BaseResultMap" type="com.jzwgj.management.server.web.classifcation.domain.ClassificationPropRealtion" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CLASSIFICATION_ID" property="classificationId" jdbcType="BIGINT" />
    <result column="PROP_ID" property="propId" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="SORT" property="sort" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CLASSIFICATION_ID, PROP_ID, CREATE_TIME, SORT
  </sql>
  <sql id="Join_Base_Column_List" >
    cpr.ID, cpr.CLASSIFICATION_ID as classificationId, cpr.PROP_ID as propId, cpr.CREATE_TIME, cpr.SORT
  </sql>
  <sql id="Prop_Column_List">
    p.NAME as propName, p.IS_COLOR_PROP as isColorProp, p.IS_ENUM_PROP as isEnumProp, p.IS_INPUT_PROP as isInputProp, p.IS_KEY_PROP as isKeyProp,
    p.IS_SALES_PROP as isSalesProp, p.IS_ALLOW_ALIAS as isAllowAlias, p.IS_STANDARD as isStandard, p.IS_REQUIRED as isRequired, p.IS_MULTI as isMulti 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from classification_prop_realtion
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectPageList" resultType="com.jzwgj.management.server.web.classifcation.domain.vo.ClassificationPropRealtionVo" 
  parameterType="java.util.Map" >
    select 
    <include refid="Join_Base_Column_List" />,<include refid="Prop_Column_List"/>
    from 
    	classification_prop_realtion cpr
    inner join 
    	prop p on cpr.PROP_ID = p.id
    where 
    	cpr.CLASSIFICATION_ID = #{vo.classificationId,jdbcType=BIGINT}
	   	<if test="vo.propName != null">
	    	AND p.NAME = LIKE CONCAT('%',#{vo.propName, jdbcType=VARCHAR},'%') 
    	</if>
    order by 
    	cpr.SORT asc
	limit ${start},${pageSize}
  </select>
  
  	<select id="selectList" resultType="com.jzwgj.management.server.web.classifcation.domain.vo.ClassificationPropRealtionVo" parameterType="java.util.Map" >
    	select 
    		<include refid="Join_Base_Column_List" />,<include refid="Prop_Column_List"/>
    	from 
    		classification_prop_realtion cpr
    	inner join 
    		prop p on cpr.PROP_ID = p.id
    	where 
    		cpr.CLASSIFICATION_ID = #{vo.classificationId,jdbcType=BIGINT}
    	order by 
    		SORT asc,
    		CREATE_TIME desc
  	</select>
  
  	<!-- 查询品类商品中已添加的属性中已拥有的销售属性个数 -->
	<select id="selectSalesCount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    	select 
    		count(p.is_sales_prop)
		from 
    		classification_prop_realtion cpr
   		inner join 
    		prop p on cpr.PROP_ID = p.id
    	where 
    		cpr.CLASSIFICATION_ID = #{id,jdbcType=BIGINT} and p.IS_SALES_PROP = 1
  	</select>
  
  <select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(1)
    from classification_prop_realtion cpr
    inner join 
    	prop p on cpr.PROP_ID = p.id
    where 
    	cpr.CLASSIFICATION_ID = #{vo.classificationId,jdbcType=BIGINT}
	   	<if test="vo.propName != null">
	    	AND p.NAME = LIKE CONCAT('%',#{vo.propName, jdbcType=VARCHAR},'%') 
    	</if>
  </select>
  
	<!-- 查询关联关系中最大的sort排序值 -->
  	<select id="selectMaxSort" resultType="java.lang.Integer" parameterType="java.util.Map" >
	    select max(cpr.SORT)
	    	from classification_prop_realtion cpr
			    inner join 
			    	prop p on cpr.PROP_ID = p.id
			    where 
	    			cpr.CLASSIFICATION_ID = #{vo.classificationId,jdbcType=BIGINT}
	    			
	    			<if test="vo.id != null">
	    				and cpr.id != #{vo.id,jdbcType=BIGINT}
	    			</if>
  	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from classification_prop_realtion
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  
	<delete id="deleteByClassificationId" parameterType="java.lang.Long">
  		delete from classification_prop_realtion where classification_id = #{classificationId,jdbcType=BIGINT}
	</delete>
	
	<delete id="deleteByClassificationIdPropId" parameterType="java.util.Map">
  		delete from classification_prop_realtion where
  			<if test="classificationId != null">
  				classification_id = #{classificationId,jdbcType=BIGINT}
  			</if> 
  			<if test="classificationId != null">
  				and prop_id = #{propId,jdbcType=BIGINT}
  			</if> 
	</delete>
  
  <insert id="insert" parameterType="com.jzwgj.management.server.web.classifcation.domain.ClassificationPropRealtion" >
    insert into classification_prop_realtion (ID, CLASSIFICATION_ID, PROP_ID, 
      CREATE_TIME, SORT)
    values (#{id,jdbcType=BIGINT}, #{classificationId,jdbcType=BIGINT}, #{propId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{sort,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jzwgj.management.server.web.classifcation.domain.ClassificationPropRealtion" >
    insert into classification_prop_realtion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="classificationId != null" >
        CLASSIFICATION_ID,
      </if>
      <if test="propId != null" >
        PROP_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="classificationId != null" >
        #{classificationId,jdbcType=BIGINT},
      </if>
      <if test="propId != null" >
        #{propId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzwgj.management.server.web.classifcation.domain.ClassificationPropRealtion" >
    update classification_prop_realtion
    <set >
      <if test="classificationId != null" >
        CLASSIFICATION_ID = #{classificationId,jdbcType=BIGINT},
      </if>
      <if test="propId != null" >
        PROP_ID = #{propId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzwgj.management.server.web.classifcation.domain.ClassificationPropRealtion" >
    update classification_prop_realtion
    set CLASSIFICATION_ID = #{classificationId,jdbcType=BIGINT},
      PROP_ID = #{propId,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>