<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzwgj.management.mapper.PropValueMapper" >
  <resultMap id="BaseResultMap" type="com.jzwgj.management.server.web.classifcation.domain.PropValue" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PROPERTY_ID" property="propertyId" jdbcType="BIGINT" />
    <result column="SORT" property="sort" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ALIAS" property="alias" jdbcType="VARCHAR" />
    <result column="HEX" property="hex" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PROPERTY_ID, SORT, NAME, ALIAS, HEX, CODE, STATUS, CREATE_TIME, 
    UPDATE_TIME
  </sql>
  	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
  		select 
    	<include refid="Base_Column_List" />
    		from prop_value
    			where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectPageList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from prop_value
    where 
    	STATUS = 1 
    	AND PROPERTY_ID = #{propValue.propertyId, jdbcType=BIGINT}
	    <if test="propValue.name != null">
	    	AND NAME LIKE CONCAT('%',#{propValue.name, jdbcType=VARCHAR},'%') 
	    </if>
    order by SORT asc,CREATE_TIME desc
	limit ${start},${pageSize}
  </select>
  
  <select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select COUNT(ID)
    from prop_value
    where 
    	STATUS = 1 
    	AND PROPERTY_ID = #{propValue.propertyId, jdbcType=BIGINT}
	    <if test="propValue.name != null">
	    	AND NAME LIKE CONCAT('%',#{propValue.name, jdbcType=VARCHAR},'%') 
	    </if>
  </select>
  
  <select id="selectPropValuesByPropId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM 
    	prop_value
    WHERE 
     	STATUS =1 
    AND
    	PROPERTY_ID = #{propId,jdbcType=BIGINT}
  </select>
  
  	<!-- 查询关联关系中最大的sort排序值 -->
  	<select id="selectMaxSort" resultType="java.lang.Integer" parameterType="java.util.Map" >
	 	select max(SORT)
    		from prop_value
    			where PROPERTY_ID = #{propValue.propertyId, jdbcType=BIGINT}
  	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from prop_value
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  
	<delete id="deleteByPropId" parameterType="java.lang.Long">
		delete from prop_value where property_id = #{propId,jdbcType=BIGINT}
	</delete>
  
  <insert id="insert" parameterType="com.jzwgj.management.server.web.classifcation.domain.PropValue" >
   	<selectKey keyProperty="id" resultType="long" order="AFTER">
		SELECT
		LAST_INSERT_ID();
	</selectKey>
    insert into prop_value (ID, PROPERTY_ID, SORT, 
      NAME, ALIAS, HEX, CODE, 
      STATUS, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=BIGINT}, #{propertyId,jdbcType=BIGINT}, #{sort,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{hex,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jzwgj.management.server.web.classifcation.domain.PropValue" >
   	<selectKey keyProperty="id" resultType="long" order="AFTER">
		SELECT
		LAST_INSERT_ID();
	</selectKey>
    insert into prop_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="propertyId != null" >
        PROPERTY_ID,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="alias != null" >
        ALIAS,
      </if>
      <if test="hex != null" >
        HEX,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="propertyId != null" >
        #{propertyId,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="hex != null" >
        #{hex,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzwgj.management.server.web.classifcation.domain.PropValue" >
    update prop_value
    <set >
      <if test="propertyId != null" >
        PROPERTY_ID = #{propertyId,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        ALIAS = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="hex != null" >
        HEX = #{hex,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzwgj.management.server.web.classifcation.domain.PropValue" >
    update prop_value
    set PROPERTY_ID = #{propertyId,jdbcType=BIGINT},
      SORT = #{sort,jdbcType=BIGINT},
      NAME = #{name,jdbcType=VARCHAR},
      ALIAS = #{alias,jdbcType=VARCHAR},
      HEX = #{hex,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>