

.icon-mapquery {
	background: url('icons/mapquery.png') no-repeat;
}

.icon-alarmMapImg {
	background: url('icons/alarmMapImg.png') no-repeat;
}
.icon-gistypequery {
	background: url('icons/gistypequery.png') no-repeat;
}

.icon-gismap {
	background: url('icons/gismap.png') no-repeat;
}

.icon-gissuoxiao {
	background: url('icons/gissuoxiao.jpg') no-repeat;
}

.icon-gisfangda {
	background: url('icons/gisfangda.jpg') no-repeat;
}

.icon-gismanyou {
	background: url('icons/gismanyou.png') no-repeat;
}

.icon-gisceju {
	background: url('icons/gisceju.png') no-repeat;
}

.icon-giscemian {
	background: url('icons/giscemian.jpg') no-repeat;
}

.icon-gisclear {
	background: url('icons/gisclear.png') no-repeat;
}

.icon-giscity {
	background: url('icons/gis1city.png') no-repeat;
}

.icon-reportsys {
	background: url('icons/reportsys.png') no-repeat;
}

.icon-gisdatequery {
	background: url('icons/gisdatequery.png') no-repeat;
}

.icon-gisexit {
	background: url('icons/gisexit.png') no-repeat;
}

.icon-mapedit {
	background: url('icons/mapedit.png') no-repeat;
}

.icon-mapadd {
	background: url('icons/map_add.png') no-repeat;
}

.icon-gismedia {
	background: url('icons/gismedia.png') no-repeat;
}

.icon-gisquerylist {
	background: url('icons/gisquerylist.png') no-repeat;
}

.icon-giscaiji {
	background: url('icons/gis_caiji.png') no-repeat;
}

.icon-gisdingwei {
	background: url('icons/gis_dingwei.png') no-repeat;
}

.icon-gisdwxianshi {
	background: url('icons/gis_dwxianshi.png') no-repeat;
}
.icon-giscity {
	background: url('icons/gis_city.png') no-repeat;
}
.icon-citytext {
	background: url('icons/city_text.png') no-repeat;
}
.icon-queryGis {
	background: url('icons/gis_query.png') no-repeat;
}
