.all_add{background: url(icon/all_add.png) left top no-repeat!important;}
.all_delete{background: url(icon/all_delete.png) left top no-repeat!important;}
.com_gird_cm_edit2{background: url(icon/gird_edit.png) left top no-repeat!important;}
.com_gird_cm_edit{background: url(icon/gird_edit.png) 0 4px no-repeat!important;}
.com_gird_cm_resource{background: url(icon/set_resource.png) 0 4px no-repeat!important;}
.com_gird_cm_user{background: url(icon/user_mag.png) 0 4px no-repeat!important;}
.all_save{background: url(icon/all_save.png) left top no-repeat!important;}
.all_cancel{background: url(icon/all_cancel.png) left top no-repeat!important;}
.window_add{background: url(icon/window_add.png) 0 6px no-repeat!important;}
.tab_form_edit{background: url(icon/tab_form_edit.png) left top no-repeat!important;}
.query_panel_mag{background: url(icon/query_panel_mag.png) left top no-repeat!important;}
.close_query_mag{background: url(icon/close_query_mag.png) left top no-repeat!important;}
.user_edit_mag{background: url(icon/user_edit.png) left top no-repeat!important;}
.web_edit{background: url(icon/web_edit.png) left top no-repeat!important;}
.event_clear{background: url(icon/event_clear.png) left top no-repeat!important;}
.event_search{background: url(icon/event_search.png) left top no-repeat!important;}
.set_user{background-image:url(icon/set_user.png) !important;}
.group_role_mag{background-image:url(icon/group_role_mag.png) !important;}
.btn-save {background-image: url(icon/btn-save.png) !important;}
.btn-cancel {background-image: url(icon/btn-cancel.png) !important;}
.btn-reset {background-image: url(icon/reset.png) !important;}
.postuserconfig_edit{background-image:url(icon/postuserconfig_edit.png) !important;}
.fj_upload{background-image:url(icon/fj_upload.png) !important;}
.delete_fj{background-image:url(icon/delete_fj1.png) !important;}
.delete_fj_temp {background-image: url(icon/delete_fj_temp.png) !important;}
.upload_fj_temp {background-image: url(icon/upload_fj_temp.png) !important;}
.stop_fj_temp {background-image: url(icon/stop_fj_temp.png) !important;}
.add_fj_temp{background-image:url(icon/add_fj_temp.png) !important;}
.fj_desc{background-image:url(icon/fj_desc.png) !important;}
.drwz_xf{background-image:url(icon/downData_xf.png) !important;}
.findfile_xfdata{background-image:url(icon/findfile_xfdata.png) !important;}
.org_mag{background-image:url(icon/org_mag.png) !important;}
.xfhelp_mag{background-image:url(icon/xfhelp_mag.png) !important;}
.export_xf{background-image:url(icon/export_xf.png) !important;}
.titleimg_upload{background-image:url(icon/titleimg_upload.png) !important;}
.titlePhoto_upload{background-image:url(icon/titlePhoto_upload.png) !important;}
.addtitleimg_upload{background-image:url(icon/addtitleimg_upload.png) !important;}