
.resources_mag{
	background-image:url(moduleIcon/resources_mag.png) !important;
}
.organ_mag{
	background-image:url(moduleIcon/organ_mag.png) !important;
}
.user_mag{
	background-image:url(moduleIcon/user_mag.png) !important;
}
.role_mag{
	background-image:url(moduleIcon/role_mag.png) !important;
}
.user_group_mag{
	background-image:url(moduleIcon/user_group_mag.png) !important;
}
.dict_config_mag{
	background-image:url(moduleIcon/dict_config_mag.png) !important;
}
.homePage_news_mag{
	background-image:url(moduleIcon/homePage_news_mag.png) !important;
}
.sys_log_mag{
	background-image:url(moduleIcon/sys_log_mag.png) !important;

}
.database_mag{
	background-image:url(moduleIcon/database_mag.png) !important;
}
.dataedit_mag{
	background-image:url(moduleIcon/dataedit_mag.png) !important;
}
.system_mag{
	background-image:url(moduleIcon/system_mag.png) !important;
}
.h_help{
	background-image:url(moduleIcon/h_help.png) !important;
}
.websites_mag{
	background-image:url(moduleIcon/websites_mag.png) !important;
}
.webmenu_mag{
	background-image:url(moduleIcon/webmenu_mag.png) !important;
}
.websitehref_mag{
	background-image:url(moduleIcon/websitehref_mag.png) !important;
}
.pictures_mag{
	background-image:url(moduleIcon/pictures_mag.png) !important;
}
.news_mag{
	background-image:url(moduleIcon/news_mag.png) !important;
}
.showcase_mag{
	background-image:url(moduleIcon/showcase_mag.png) !important;
}
.showcase_mag{
	background-image:url(moduleIcon/showcase_mag.png) !important;
}
